{% extends 'generic/object.html' %}
{% include 'generic/object_list.html' %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Permissões</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Grupo</th>
              <td>
                <a href="{{ object.groupslist.get_absolute_url }}">{{ object.groupslist }}</a>
              </td>

            </tr>
            
            <tr>
              <th scope="row">Tipo de Acesso</th>
              <td>{{ object.tipo_acesso|capfirst }}</td>
            </tr>

            <tr>
              <th scope="row">Aprovador</th>
              <td>
                {{ object.aprovador }}
              </td>
            </tr>
            <tr>
              <th scope="row">Ambiente</th>
              <td>
                {% if object.ambiente.exists %}
                {{ object.ambiente.all|join:", " }}
                {% endif %}
            </td>
            </tr>

          </table>
        </div>

      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}



    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Campo Texto</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
              <th scope="row">Justificativa</th>
              <td>{{ object.justificativa }}</td>
            </tr>
          </table>
        </div>
      </div>

      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
  
{% endblock content %}
