{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Recursos</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Usuário</th>
              <td>{{ object.name }}</td>
            </tr>

            <tr>
              <th scope="row">Recursos do usuário</th>
              <td>{{ object.rules.count }}</td>
            </tr>
            <tr>
              <th scope="row" >Status do usuário</th>
              <td>{{ object.status_user|capfirst }}</td>
            </tr>

            <tr>
              <th scope="row" >Grupo</th>
              <td>
                {% if object.groups.exists %}
                {% for grupo in object.groups.all %}
                  <a href="{{ grupo.get_absolute_url }}">{{ grupo }}</a>{% if not forloop.last %} | {% endif %}
                {% endfor %}
                {% endif %}
              </td>
            </tr>

            <th scope="row">Setor</th>
            <td>
              {% if object.setor.exists %}
                {% for setor in object.setor.all %}
                  <a href="{{ setor.get_absolute_url }}">{{ setor }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              {% endif %}
            </td>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-6">

      {% include 'inc/panels/comments.html' %}

      {% if user_group_associations %}
      <div class="col-md-12 card p-2 mt-4">
        <h5 class="card-header">Associações do Usuário com Grupos</h5>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Grupo</th>
                <th>Data de Associação</th>
              </tr>
            </thead>
            <tbody>
              {% for association in user_group_associations %}
                <tr>
                  <td>
                    <a href="{{ association.group.get_absolute_url }}">{{ association.group }}</a>
                  </td>
                  <td>{{ association.data_associacao|date:"d/m/Y" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

    </div>
  </div>

<div class="row">
  <div class="col col-md-12">
    <div class="card p-2">
      <h5 class="card-header">Recursos</h5>
      <div class="card-body table-responsive">
          {% render_table recurso %}
      </div>
    </div>
  </div>
</div>

{% if object.groups.exists %}
<div class="row">
  <div class="col pt-4 col-md-12">
    <div class="card p-2">
      <h5 class="card-header">Recursos do grupo</h5>
      <div class="card-body table-responsive">
        {% render_table recurso_grupo %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}
